<div class="container flex flex-col">

  <% @bookings.each do |booking| %>
    <div
      class="
        block
        rounded-lg
        bg-white
        p-6
        w-96
        mx-auto
        mt-4
        shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
      ">
      <h5
        class="
          mb-2
          text-xl
          font-medium
          leading-tight
          text-neutral-800
        ">
        <p><%= booking.room.name %></p>
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        <p><%= booking.date %></p>
        <p><%= booking.start_time %></p>
        <p><%= booking.end_time %></p>

      </p>
      <button
        type="button"
        class="
          inline-block
          rounded
          bg-slate-500
          px-6
          pb-2
          mt-4
          pt-2.5
          text-xs
          font-medium
          uppercase
          leading-normal
          text-white
          shadow-[0_4px_9px_-4px_#3b71ca]
          transition
          duration-150
          ease-in-out
          hover:bg-primary-600
          hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:bg-primary-600
          focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:outline-none
          focus:ring-0
          active:bg-primary-700
          active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        "
        data-te-ripple-init
        data-te-ripple-color="light">
        More Info
      </button>
    </div>

  <% end %>
</div>
<script>
// Initialization for ES Users
import {
  Ripple,
  initTE,
} from "tw-elements";

initTE({ Ripple });
</script>
